server:
  port: 1080

spring:
  application:
    name: gateway
  datasource:
    username: root
    password: toor
    url: jdbc:mysql://127.0.0.1:3306/userdb
    driver-class-name: com.mysql.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect

  redis:
    database: 0
    host: 127.0.0.1
    port: 6379
    password: ''
    pool:
      max-active: 200
      max-wait: -1
      max-idle: 10
      min-idle: 0
    timeout: 1000
  cloud:
    gateway:
      routes:
        - id: method_route
          uri: http://127.0.0.1:8080
          predicates:
          - Path=/openApi/**

gateway:
  access-rate-limit: 1000